
.mainImage {
  .image {
      width: 100%;
  }
}

.tooltipContainer {
    position: relative;
    display: inline-block;
    
}

.tooltip {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1a1a19;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
    p {
        color: white;
    }  
  }

.tooltipContainer:hover .tooltip {
  display: block;
}