.button {
    color: #fff;
    background-color: #1a1a19;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 20px;
    text-decoration: none;

    &:hover {
        color: #000;
        background-color: #fff;
    }
}
.none {
    border:none;
}

.bold {
    font-weight: bold;
}

.buttonConfirmation { 
    text-transform: uppercase;
    background-color: #6e1013;
    font-size: 22px;
    padding: 0px 35px;
    line-height: 48px;  
    font-weight: bold;
}

.buttonContinue {
    padding: 0px 35px;
    line-height: 46px;
    text-transform: uppercase;
    text-align: center;
    background-color: #ed1c24;
    font-weight: bold;

}