.accordian {
   
    margin: auto;
    background-color: black;

  
    .topContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #0e0e0e;
        border: 1px solid #2d2d2d;
        margin-bottom: 20px;
    }

   

}
