.headerContainer {
    background-color: black;
    display: flex;

    .leftContainer {
        display: flex;
        
        .headerImg {
            width: 30%; 
            margin: auto;
        }

        .menuContainer {
            display: grid;
            grid-template-columns: auto auto auto auto auto auto ;
            gap: 30px;

            p {  
                color: white;
                margin: auto;
                padding-bottom: 3px;

                    &:hover {
                    border-bottom: 2px solid white;
                    color: red;
                    margin: auto;
                }
            }

            
        }
    }

    .rightContainer {
        display: flex;
        margin: auto 50px;
        border: 1px solid rgba(255, 255, 255, 0.22);

        .clubContainer {
           margin: auto;
        }

        .loginContainer {
            display: grid;
            grid-template-columns: auto auto;
            gap: 10px;
            margin-left: 30px;

            p {  
                color: white;
            }
        }
    }
    
}
